*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Barlow Semi Condensed', serif;
}

.container {
	/* height: 100vh; */
	width: 327px;
	height: 1824px;
	margin: 0 auto;
}

.daniel,
.jonathan,
.jeanette,
.patrick,
.kira {
	width: 327px;
	border-radius: 8px;
	/* box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);  */
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	padding: 26px;
}

.profile img {
	border-radius: 50%;
	border: 2px solid #a775f1;
	width: 28px;
	height: 28px;
}

.daniel {
	height: 444px;
	background-color: #733fc8;
	margin-bottom: 24px;
	position: relative;
}

.daniel .pep {
	position: absolute;
	top: 0px;
	right: 30px;
	width: 104px;
	height: 102px;
	z-index: 0;
}

.profile {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.daniel .name {
	color: #fff;
	font-size: 13px;
}
.daniel .status {
	color: #fff;
	font-size: 11px;
	opacity: 50%;
}

.daniel h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	position: relative;
	z-index: 100;
}

.daniel .text {
	color: #cfcfcf;

	font-size: 13px;
	opacity: 70%;
	line-height: 18px;
	/* margin: 0 10px; */
	/* width: 247px;
	height: 180px; */
}

.info {
	margin-right: 11px;
}

.jonathan {
	height: 240px;
	background-color: #48556a;
	margin-bottom: 24px;
}
.jonathan .name {
	color: #fff;
	font-size: 13px;
}
.jonathan .status {
	color: #fff;
	font-size: 11px;
	opacity: 50%;
}

.jonathan h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.jonathan .text {
	color: #cfcfcf;
	font-size: 13px;
	opacity: 70%;
	line-height: 18px;
}

.jeanette {
	height: 222px;
	background-color: #fff;
	margin-bottom: 24px;
}

.jeanette .name {
	color: #48556a;
	font-size: 13px;
}
.jeanette .status {
	color: #48556a;
	font-size: 11px;
	opacity: 50%;
}

.jeanette h2 {
	color: #48556a;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.jeanette .text {
	color: #48556a;
	font-size: 13px;
	opacity: 70%;
	line-height: 18px;
}

.patrick {
	height: 384px;
	background-color: #19202d;
	margin-bottom: 24px;
}

.patrick .name {
	color: #fff;
	font-size: 13px;
}
.patrick .status {
	color: #fff;
	font-size: 11px;
	opacity: 50%;
}

.patrick h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.patrick .text {
	color: #cfcfcf;
	font-size: 13px;
	opacity: 70%;
	line-height: 18px;
}

.kira {
	height: 438px;
	background-color: #fff;
}

.kira .name {
	color: #48556a;
	font-size: 13px;
}
.kira .status {
	color: #48556a;
	font-size: 11px;
	opacity: 50%;
}

.kira h2 {
	color: #48556a;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.kira .text {
	color: #48556a;
	font-size: 13px;
	opacity: 70%;
	line-height: 18px;
}

@media (min-width: 1440px) {

	.pack {
	width: 100%;
	/* height: 1000px; */
	display: flex;
	justify-content: center;
	align-items: center;	
	margin: auto auto;
	/* background-color: black; */
	}
	.container {
		width: 1110px;
		height: 572px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 10px;
		margin: auto auto;
	}

	.daniel {
		width: 540px;
		height: 282px;
		grid-area: 1 / 1 / 2 / 3;
	}

	.daniel h2 {
		margin-bottom: 20px;
	}

	.daniel .pep {
		top: 0px;
		right: 85px;
	}

	.jonathan {
		width: 255px;
		height: 282px;
		grid-area: 1 / 3 / 2 / 4;
	}

	.jeanette {
		width: 255px;
		height: 266px;
		grid-area: 2 / 1 / 3 / 2;
	}

	.patrick {
		width: 540px;
		height: 266px;
		grid-area: 2 / 2 / 3 / 4;
	}

	.kira {
		width: 255px;
		height: 572px;
		grid-area: 1 / 4 / 3 / 5;
	}
}
